body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 20px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.color-1{
  background-color:  #FFDE06;
}
.color-2{
  background-color:  #0A03A6;
}
.color-3{
  background-color:  #65FE06;
}
.color-4{
  background-color:  #F37107;
}
.color-5{
  background-color:  #B703FF;
}
.color-6{
  background-color:  #04E7FE;
}
.color-7{
  background-color:  lawngreen;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}



